streamlit>=1.28.0
python-dotenv>=1.0.0
cohere>=4.37
pandas>=2.2.1
matplotlib>=3.8.4
altair>=5.2.0
plotly>=5.20.0
scikit-learn>=1.5.0
openai>=1.30.1
pdfminer.six>=20221105
PyMuPDF>=1.23.22
textblob>=0.17.1
deep-translator>=1.8.2
wheel
setuptools
